
  <div class="example-button-row">
  <button mat-button   routerLink="/last">
      
    <span>dernière simulation</span>
  </button>
</div>

<div>
<button mat-button class="menu-button" routerLink="/addsimulation">
      
    <span>Ajouter simulation</span>
  </button>
</div>
<div>
  <button mat-button class="menu-button" routerLink="/list">
      
    <span>Mes simulations</span>
  </button>

</div>
<button mat-button class="menu-button" routerLink="/regist">
      
  <span> Ma simulation enregistrée</span>
</button>
