Cette équation est celle de la demande de la réunion

<form [formGroup]="demandeForm">
<p> ln(q) = 
    <input type="number" matInput   formControlName="a0" size="3.5px"> + 
    <input type="number" matInput   formControlName="a1"size="3.5px"> lnN + 
    <input type="number" matInput   formControlName="a2"size="3.5px"> SNWA
    <input type="number" matInput   formControlName="a3" size="3.5px"> POOL + 
    <input type="number" matInput   formControlName="a4"size="3.5px"> GardenWeather + 
    <input type="number" matInput   formControlName="a5"size="3.5px"> Prix +
    <input type="number" matInput   formControlName="a6"size="3.5px"> ln()
</p>

<input type="number" matInput placeholder="car"  formControlName="car"size="3.5px">
<input type="number" matInput placeholder="par"  formControlName="par"size="3.5px">
<input type="number" matInput placeholder="k"  formControlName="ks"size="3.5px">
</form>
<img src="assets/equation_Demande.jpg" width="800" height="500">