<mat-toolbar class="mat-elevation-z8">
    <span class="toolbar-title">NEWTS</span>
    <span class="toolbar-spacer"></span>
    <button mat-button routerLink="/home">
        <mat-icon>home</mat-icon>
        <span>Home</span>
    </button>

    <button mat-button routerLink="/about">
        <mat-icon>info</mat-icon>
        <span>About</span>
    </button>
    <button
        mat-raised-button
        color="accent"
        *ngIf="isLoggedIn()"
        (click)="logout()"
    >
        <mat-icon>exit_to_app</mat-icon>
        Logout
    </button>
</mat-toolbar>

<div class="main-content">
    <app-chat-button></app-chat-button>
    <app-chat></app-chat>
    <router-outlet></router-outlet>
</div>
