<div class="aggregated-dashboard-container">

    <div class="dashboard-grid">
        <!-- Column 1 -->
        <div class="dashboard-column">
            <app-affordability-table [simulationId]="this.simulationId"></app-affordability-table>
            <app-equity-table [simulationId]="this.simulationId"></app-equity-table>
        </div>

        <!-- Column 2 -->
        <div class="dashboard-column">
            <app-incentive-effect-table [simulationId]="this.simulationId"></app-incentive-effect-table>
            <app-funding-table [simulationId]="this.simulationId"></app-funding-table>
        </div>

        <!-- Column 3 -->
        <div class="dashboard-column">
            <app-economic-efficiency-table [simulationId]="this.simulationId"></app-economic-efficiency-table>
            <app-environmental-costs-table [simulationId]="this.simulationId"></app-environmental-costs-table>
            <app-water-agency-table [simulationId]="this.simulationId"></app-water-agency-table>
            <app-state-table [simulationId]="this.simulationId"></app-state-table>
        </div>
    </div>
</div> 