<form [formGroup]="tarificationForm" >
    <button type="submit" (click)="submitTarification()"  [disabled]="!tarificationForm.valid" mat-raised-button color="primary">Send </button>
<mat-tab-group>
    <mat-tab label="Production">
        <div class="container">
            <div class="card">
            <p>Eau potable</p>
            <mat-form-field appearance="fill">
              <mat-label>Cout fixes de production </mat-label>
              <input type="number" min="0" matInput formControlName="coutsFixe_ep">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Cout unitaire </mat-label>
                <input type="number" min="0" matInput formControlName="coutsVariable_ep" >
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Montant de l'abonnement </mat-label>
                <input type="number" min="0" matInput formControlName="montantAbo_ep">
              </mat-form-field>
              <mat-form-field appearance="fill">
                  <mat-label>Nombre d'abonnés</mat-label>
                  <input type="number" min="0" matInput formControlName="nombreAbonnes_ep" >
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>Redevance</mat-label>
                <input type="number" min="0" matInput  >
            </mat-form-field>

        </div>
        <div class="card">
              <p>Assainissement</p>
              <mat-form-field appearance="fill">
                <mat-label>Cout fixes de production </mat-label>
                <input type="number" min="0" matInput formControlName="coutsFixe_a">
              </mat-form-field>
              <mat-form-field appearance="fill">
                  <mat-label>Cout unitaire</mat-label>
                  <input type="number" min="0" matInput  formControlName="coutsVariable_a">
              </mat-form-field>
              <mat-form-field appearance="fill">
                  <mat-label>Montant de l'abonnement </mat-label >
                  <input type="number" min="0" matInput formControlName="montantAbo_a">
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Nombre d'abonnés</mat-label>
                    <input type="number" min="0" matInput formControlName="nombreAbonnes_a" >
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Redevance</mat-label>
                    <input type="number" min="0" matInput  >
                </mat-form-field>

            </div>
            <div class="card">
                <p>Environnement</p>
                <mat-form-field appearance="fill">
                    <mat-label>Coût environnemental fixe</mat-label>
                    <input type="number" min="0" matInput  >
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Coût environnemental variables</mat-label>
                    <input type="number" min="0" matInput  >
                </mat-form-field>
</div>



        </div>
    </mat-tab>
    <mat-tab label="Eau Potable"> 
        <div class="seuil-container">
            <div class="card">
            <mat-form-field appearance="fill">
                <mat-label>TVA</mat-label>
                <input type="number" min="0" max="100" matInput formControlName="tva_ep" >
            </mat-form-field>
        </div>
        <div class="card">
            <h2>Seuil</h2>
            <ng-container formArrayName="seuils_ep">
            <div *ngFor="let trancheForm of seuils_ep.controls;last as isLast; let i = index;let r=last;" class="input-row">
                <div [formGroupName]="i" >
                    <mat-form-field appearance="fill">
                        <input type="number" min="0" matInput
                               formControlName="seuil"
                               placeholder="seuil">
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <input type="number" matInput
                               formControlName="prix"
                               placeholder="prix">
                    </mat-form-field>
                </div> 
                <button mat-icon-button color="warn" *ngIf="seuils_ep.length > 1" (click)="removeInputControl(i)">
                    <mat-icon>remove_circle</mat-icon>
                </button>
            </div>
        </ng-container>
        
        <button mat-icon-button color="primary"  (click)="addInputControl()">
            <mat-icon>add_circle</mat-icon>
        </button>
    </div>
    <div class="card">
        <h2>redevances</h2>
        <ng-container formArrayName="seuils_r_ep">
        <div *ngFor="let trancheForm of seuils_r_ep.controls;last as isLast; let i = index;let r=last;" class="input-row">
            <div [formGroupName]="i" >
                <mat-form-field appearance="fill">
                    <input type="number" min="0" matInput
                           formControlName="seuil"
                           placeholder="seuil">
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <input type="number" matInput
                           formControlName="prix"
                           placeholder="prix">
                </mat-form-field>
            </div> 
            <button mat-icon-button color="warn" *ngIf="seuils_r_ep.length > 1" (click)="removeInputControl_r_ep(i)">
                <mat-icon>remove_circle</mat-icon>
            </button>
        </div>
    </ng-container>
    
    <button mat-icon-button color="primary"  (click)="addInputControl_r_ep()">
        <mat-icon>add_circle</mat-icon>
    </button>
</div>
        </div>

        

    </mat-tab>

    <mat-tab label="Assainissement"> 
        <div class="seuil-container">
            <mat-form-field appearance="fill">
                <mat-label>TVA</mat-label>
                <input type="number" min="0" matInput formControlName="tva_a" >
            </mat-form-field>
            <h2>Seuil</h2>
            <ng-container formArrayName="seuils_a">
            <div *ngFor="let trancheForm of seuils_a.controls;last as isLast; let i = index;let r=last;" class="input-row">
                <div [formGroupName]="i" >
                    <mat-form-field appearance="fill">
                        <input type="number" min="0" matInput
                               formControlName="seuil"
                               placeholder="seuil">
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <input type="number" matInput
                               formControlName="prix"
                               placeholder="prix">
                    </mat-form-field>
                </div> 
                <button mat-icon-button color="warn" *ngIf="seuils_a.length > 1" (click)="removeInputControl_a(i)">
                    <mat-icon>remove_circle</mat-icon>
                </button>
            </div>
        </ng-container>
        
        <button mat-icon-button color="primary"  (click)="addInputControl_a()">
            <mat-icon>add_circle</mat-icon>
        </button>
        <h2>redevances</h2>
        <ng-container formArrayName="seuils_r_a">
        <div *ngFor="let trancheForm of seuils_r_a.controls;last as isLast; let i = index;let r=last;" class="input-row">
            <div [formGroupName]="i" >
                <mat-form-field appearance="fill">
                    <input type="number" min="0" matInput
                           formControlName="seuil"
                           placeholder="seuil">
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <input type="number" matInput
                           formControlName="prix"
                           placeholder="prix">
                </mat-form-field>
            </div> 
            <button mat-icon-button color="warn" *ngIf="seuils_r_a.length > 1" (click)="removeInputControl_r_a(i)">
                <mat-icon>remove_circle</mat-icon>
            </button>
        </div>
    </ng-container>
    
    <button mat-icon-button color="primary"  (click)="addInputControl_r_a()">
        <mat-icon>add_circle</mat-icon>
    </button>

        </div>

        

    </mat-tab>
  </mat-tab-group>
</form>
<!--
    
     <div *ngFor="let seuil of seuils.controls; let prix of prix.controls;last as isLast; index as idx;" class="input-row">
                <mat-form-field>
                    <input matInput formControlName="seuil">
                </mat-form-field>
                <mat-form-field>
                    <input matInput formControlName="prix">
                </mat-form-field>

                <button mat-icon-button color="warn" *ngIf="seuils.length > 1" (click)="removeInputControl(idx)">
                    <mat-icon>remove_circle</mat-icon>
                </button>
                <button mat-icon-button color="primary" *ngIf="isLast" (click)="addInputControl()">
                    <mat-icon>add_circle</mat-icon>
                </button>
                
            </div>
                <div *ngFor="let prix of prix.controls; last as isLast; index as idx;" class="input-row">
                <mat-form-field>
                    <input matInput formControlName="prix">
                </mat-form-field>
            </div>
  <div *ngFor="let seuil of seuils.controls; last as isLast; index as idx;" class="input-row">
                <mat-form-field>
                    <input matInput formControlName="seuil">
                </mat-form-field>
                <button mat-icon-button color="warn" *ngIf="seuils.length > 1" (click)="removeInputControl(idx)">
                    <mat-icon>remove_circle</mat-icon>
                </button>
                <button mat-icon-button color="primary" *ngIf="isLast" (click)="addInputControl()">
                    <mat-icon>add_circle</mat-icon>
                </button>
        
            </div>
                <div *ngFor="let prix of prix.controls; last as isLast; index as idx;" class="input-row">
                <mat-form-field>
                    <input matInput formControlName="prix">
                </mat-form-field>
            </div>
<div class="container">
    <mat-form-field appearance="fill">
      <mat-label>Cout fixes de production</mat-label>
      <input type="number" min="0" matInput [formControl]="coutsFixe">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Cout variables de production</mat-label>
        <input type="number" min="0" matInput [formControl]="coutsVariable" >
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Montant de l'abonnement </mat-label>
        <input type="number" min="0" matInput [formControl]="montantAbo">
      </mat-form-field>
      <mat-form-field appearance="fill">
          <mat-label>Nombre d'abonnées</mat-label>
          <input type="number" min="0" matInput [formControl]="nombreAbonnes" >
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>TVA </mat-label>
        <input type="number" min="0" max="100" matInput [formControl]="tva">
      </mat-form-field>
      <mat-form-field appearance="fill">
          <mat-label>Redevances</mat-label>
          <input type="number" min="0" matInput [formControl]="redevances" >
      </mat-form-field>
  </div>

  <div class="seuil-container">
    <h2>Seuil</h2>
    <div *ngFor="let seuil of seuils.controls; last as isLast; index as idx;" class="input-row">
        <mat-form-field>
            <input matInput [formControl]="seuil">
        </mat-form-field>
        <button mat-icon-button color="warn" *ngIf="seuils.length > 1" (click)="removeInputControl(idx)">
            <mat-icon>remove_circle</mat-icon>
        </button>
        <button mat-icon-button color="primary" *ngIf="isLast" (click)="addInputControl()">
            <mat-icon>add_circle</mat-icon>
        </button>

    </div>
    <h2>Price</h2>
    <div *ngFor="let prix of prix.controls; last as isLast; index as idx;" class="input-row">
        <mat-form-field>
            <input matInput [formControl]="prix">
        </mat-form-field>
    </div>
</div>

<p>seuils : {{seuils.valueChanges|async|json}} </p>
<p>prix : {{prix.valueChanges|async|json}} </p>

<mat-tab-group>
    <mat-tab label="Production">
        <div class="container">
            <mat-form-field appearance="fill">
              <mat-label>Cout fixes de production</mat-label>
              <input type="number" min="0" matInput [formControl]="coutsFixe">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Cout variables de production</mat-label>
                <input type="number" min="0" matInput [formControl]="coutsVariable" >
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Montant de l'abonnement </mat-label>
                <input type="number" min="0" matInput [formControl]="montantAbo">
              </mat-form-field>
              <mat-form-field appearance="fill">
                  <mat-label>Nombre d'abonnées</mat-label>
                  <input type="number" min="0" matInput [formControl]="nombreAbonnes" >
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>TVA </mat-label>
                <input type="number" min="0" max="100" matInput [formControl]="tva">
              </mat-form-field>
              <mat-form-field appearance="fill">
                  <mat-label>Redevances</mat-label>
                  <input type="number" min="0" matInput [formControl]="redevances" >
              </mat-form-field>
          </div>
    </mat-tab>
    <mat-tab label="Tranche"> 
        <div class="seuil-container">
            <h2>Seuil</h2>
            <div *ngFor="let seuil of seuils.controls; last as isLast; index as idx;" class="input-row">
                <mat-form-field>
                    <input matInput [formControl]="seuil">
                </mat-form-field>
                <button mat-icon-button color="warn" *ngIf="seuils.length > 1" (click)="removeInputControl(idx)">
                    <mat-icon>remove_circle</mat-icon>
                </button>
                <button mat-icon-button color="primary" *ngIf="isLast" (click)="addInputControl()">
                    <mat-icon>add_circle</mat-icon>
                </button>
        
            </div>
        </div>

        
    </mat-tab>

    <mat-tab label="pp"> pp </mat-tab>
  </mat-tab-group>
-->
<!--
  <mat-grid-list cols="2" rowHeight="2:1">
      <mat-grid-tile>
        <div class="chart-container">
            <canvas  id="MyChart" >{{ chart }}</canvas>
          </div>


      </mat-grid-tile>
      <mat-grid-tile>2</mat-grid-tile>
      <mat-grid-tile>3</mat-grid-tile>
      <mat-grid-tile>4</mat-grid-tile>
    </mat-grid-list>
-->
<mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>1
    </mat-grid-tile>
    <mat-grid-tile>2</mat-grid-tile>
    <mat-grid-tile>3</mat-grid-tile>
    <mat-grid-tile>4</mat-grid-tile>
  </mat-grid-list>
<canvas  id="MyChart" >{{ chart }}</canvas>