input[type=number]{
    -moz-appearance: textfield;
}
.container {
    padding: 32px;
    display: flex;
    flex-direction: row;
}



.seuil-container {
    padding: 32px;
    display: flex;
    flex-direction: column;
    
}
.input-row {
    display: inline-flex;
    flex-direction: row;

    align-items: center;
}
mat-form-field {
    width: 260px;
}