<div class="simulation-details-container">
    <h2>Simulation Details</h2>
    <div class="simulation-status-row">
        <div class="status-column">
            <p>Status: {{ simulationData.status }}</p>
        </div>

        <div class="button-column" *ngIf="simulationData.status === 'Initialized'">
            <button mat-raised-button color="primary"
                    [routerLink]="['/simulation', simulationId, 'first-round-assessment']">
                First round evaluation
            </button>
        </div>
    </div>

    <app-aggregated-dashboard [simulationId]="simulationId"></app-aggregated-dashboard>


    <mat-expansion-panel (opened)="panelPopulationOpenState = true"
                         (closed)="panelPopulationOpenState = false"
                         style="margin-bottom: 20px">
        <mat-expansion-panel-header>
            <mat-panel-title>Population</mat-panel-title>
        </mat-expansion-panel-header>
        <img [src]="populationPlotUrl" style="width: 100%"/>

    </mat-expansion-panel>

    <mat-expansion-panel (opened)="panelInitializationOpenState = true"
                         (closed)="panelInitializationOpenState = false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Initialization results
            </mat-panel-title>
            <mat-panel-description>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="row median-statistics-row">
            <div class="col-md-6">
                <img [src]="tbseParPlotUrl" style="width: 100%;"/>
            </div>
            <div class="col-md-6">
                <img [src]="tbseConsumptionPlotUrl" style="width: 100%;"/>
            </div>
            <div class="col-md-6">
                <img [src]="pensParadePlotUrl" style="width: 100%;"/>
            </div>
            <div class="col-md-6">
                <img [src]="consumptionDeviationLosesCostRecoveryPlot" style="width: 100%;"/>
            </div>
        </div>
    </mat-expansion-panel>


    <!-- <button mat-raised-button color="primary" [routerLink]="['/simulation', 'dashboard', this.simulationId]">Aggregated
         Dashboard
     </button>-->

</div>