<p>
  <button mat-button class="menu-button" routerLink="/evaluation">
      
    <span>retour</span>
  </button>

</p>
  <mat-tab-group>
    <mat-tab label="Indicateur"><div> 
    <mat-accordion>
      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Agreg
          </mat-panel-title>
          <mat-panel-description>
            DESCRIPTION
          </mat-panel-description>
        </mat-expansion-panel-header>
          <p>Pourcentage ménages pb car : {{dat.resultat.ppCar}}</p>
          <p>Pourcentage ménages pb par : {{dat.resultat.ppPar}}</p>
          <p>individu inabordabilité par: {{dat.resultat.indPar}}</p>
          <p>individu inabordabilité car: {{dat.resultat.indCar}}</p>
          <p>enfant inabordabilité car: {{dat.resultat.enfanCar}}</p>
          <p>enfant inabordabilité par: {{dat.resultat.enfanPar}}</p>
          
          <p>Inabordabilité moyenne par: {{dat.resultat.imPar}}</p>
          <p>Ecart type inabordabilité  par: {{dat.resultat.stdPar}}</p>
          <p>Variance inabordabilité  par: {{dat.resultat.varPar}}</p>
          <p>Mediane inabordabilité  par: {{dat.resultat.medianPar}}</p>
          <p>Coeff variation inabordabilité  par: {{dat.resultat.coeffVarPar}}</p>
          <p>Gini inabordabilité par: {{dat.resultat.giniPar}}</p>
         
  
        
      </mat-expansion-panel>
      <mat-expansion-panel (opened)="panelOpenState = true"
      (closed)="panelOpenState = false">
  <mat-expansion-panel-header>
  <mat-panel-title>
    CAR Ménage par décile de revenu des ménages
  </mat-panel-title>
  <mat-panel-description>
  DESCRIPTION
  </mat-panel-description>
  </mat-expansion-panel-header>
  <div>
    
    <table>
      <thead>
        <tr>
          <th>&nbsp;</th>
          <th>D1</th>
          <th>D2</th>
          <th>D3</th>
          <th>D4</th>
          <th>D5</th>
          <th>D6</th>
          <th>D7</th>
          <th>D8</th>
          <th>D9</th>
          <th>D10</th>
          
        </tr>
      </thead>
      
      <tbody>
        
        
        <tr *ngFor="let item of dat.resultat.dcileTabCar;index as i;" >
          <th scope="row" *ngIf="i <= 5">{{fre[i]}}</th>
          <td>{{ item.D1 }}</td>
          <td>{{ item.D2 }}</td>
          <td>{{ item.D3 }}</td>
          <td>{{ item.D4 }}</td>
          <td>{{ item.D5 }}</td>
          <td>{{ item.D6 }}</td>
          <td>{{ item.D7 }}</td>
          <td>{{ item.D8 }}</td>
          <td>{{ item.D9 }}</td>
          <td>{{ item.D10 }}</td>
          
          
        </tr>
      </tbody>
    </table>
  </div>
  

  </mat-expansion-panel>
  <mat-expansion-panel (opened)="panelOpenState = true"
  (closed)="panelOpenState = false">
<mat-expansion-panel-header>
<mat-panel-title>
  PAR Ménage par décile de revenu des ménages 
</mat-panel-title>
<mat-panel-description>
DESCRIPTION
</mat-panel-description>
</mat-expansion-panel-header>
<div>
    
  <table>
    <thead>
      <tr>
        <th>&nbsp;</th>
        <th>D1</th>
        <th>D2</th>
        <th>D3</th>
        <th>D4</th>
        <th>D5</th>
        <th>D6</th>
        <th>D7</th>
        <th>D8</th>
        <th>D9</th>
        <th>D10</th>
        
      </tr>
    </thead>
    
    <tbody>
      
      
      
      <tr *ngFor="let item of dat.resultat.dcileTab;index as i;" >
        <th scope="row" *ngIf="i <= 5">{{fre[i]}}</th>
        <td>{{ item.D1 }}</td>
        <td>{{ item.D2 }}</td>
        <td>{{ item.D3 }}</td>
        <td>{{ item.D4 }}</td>
        <td>{{ item.D5 }}</td>
        <td>{{ item.D6 }}</td>
        <td>{{ item.D7 }}</td>
        <td>{{ item.D8 }}</td>
        <td>{{ item.D9 }}</td>
        <td>{{ item.D10 }}</td>
        
        
      </tr>
    </tbody>
  </table>
</div>


</mat-expansion-panel>
<mat-expansion-panel (opened)="panelOpenState = true"
(closed)="panelOpenState = false">
<mat-expansion-panel-header>
<mat-panel-title>
  CAR Ménage par décile de revenu par tête des ménages
</mat-panel-title>
<mat-panel-description>
DESCRIPTION
</mat-panel-description>
</mat-expansion-panel-header>
<div>
    
  <table>


    <thead>
      <tr>
        <th>&nbsp;</th>
        <th>D1</th>
        <th>D2</th>
        <th>D3</th>
        <th>D4</th>
        <th>D5</th>
        <th>D6</th>
        <th>D7</th>
        <th>D8</th>
        <th>D9</th>
        <th>D10</th>
        
      </tr>
    </thead>
    
    <tbody>
   
  
    
      <tr *ngFor="let item of dat.resultat.dcileTTabCar;index as i;" >
        <th scope="row" *ngIf="i <= 5">{{fre[i]}}</th>
        <td>{{ item.D1 }}</td>
        <td>{{ item.D2 }}</td>
        <td>{{ item.D3 }}</td>
        <td>{{ item.D4 }}</td>
        <td>{{ item.D5 }}</td>
        <td>{{ item.D6 }}</td>
        <td>{{ item.D7 }}</td>
        <td>{{ item.D8 }}</td>
        <td>{{ item.D9 }}</td>
        <td>{{ item.D10 }}</td>
        
        
      </tr>
    </tbody>
  </table>
</div>

</mat-expansion-panel>
  <mat-expansion-panel (opened)="panelOpenState = true"
  (closed)="panelOpenState = false">
<mat-expansion-panel-header>
<mat-panel-title>
  PAR Ménage par décile de revenu par tête des ménages 
</mat-panel-title>
<mat-panel-description>
DESCRIPTION
</mat-panel-description>
</mat-expansion-panel-header>
<div>
    
  <table>
    <thead>
      <tr>
        <th>&nbsp;</th>
        <th>D1</th>
        <th>D2</th>
        <th>D3</th>
        <th>D4</th>
        <th>D5</th>
        <th>D6</th>
        <th>D7</th>
        <th>D8</th>
        <th>D9</th>
        <th>D10</th>
        
      </tr>
    </thead>
    
    <tbody>
      
      
      
      <tr *ngFor="let item of dat.resultat.dcileTTab;index as i;" >
        <th scope="row" *ngIf="i <= 5">{{fre[i]}}</th>
        <td>{{ item.D1 }}</td>
        <td>{{ item.D2 }}</td>
        <td>{{ item.D3 }}</td>
        <td>{{ item.D4 }}</td>
        <td>{{ item.D5 }}</td>
        <td>{{ item.D6 }}</td>
        <td>{{ item.D7 }}</td>
        <td>{{ item.D8 }}</td>
        <td>{{ item.D9 }}</td>
        <td>{{ item.D10 }}</td>
        
        
      </tr>
    </tbody>
  </table>
</div>

</mat-expansion-panel>

<mat-expansion-panel (opened)="panelOpenState = true"
(closed)="panelOpenState = false">
<mat-expansion-panel-header>
<mat-panel-title>
  CAR Ménage  par décile de niveau de vie des ménages 
</mat-panel-title>
<mat-panel-description>
DESCRIPTION
</mat-panel-description>
</mat-expansion-panel-header>
<div>
    
  <table>


    <thead>
      <tr>
        <th>&nbsp;</th>
        <th>D1</th>
        <th>D2</th>
        <th>D3</th>
        <th>D4</th>
        <th>D5</th>
        <th>D6</th>
        <th>D7</th>
        <th>D8</th>
        <th>D9</th>
        <th>D10</th>
        
      </tr>
    </thead>
    
    <tbody>
   
  
    
      <tr *ngFor="let item of dat.resultat.dcileUcc;index as i;" >
        <th scope="row" *ngIf="i <= 5">{{fre[i]}}</th>
        <td>{{ item.D1 }}</td>
        <td>{{ item.D2 }}</td>
        <td>{{ item.D3 }}</td>
        <td>{{ item.D4 }}</td>
        <td>{{ item.D5 }}</td>
        <td>{{ item.D6 }}</td>
        <td>{{ item.D7 }}</td>
        <td>{{ item.D8 }}</td>
        <td>{{ item.D9 }}</td>
        <td>{{ item.D10 }}</td>
        
        
      </tr>
    </tbody>
  </table>
</div>

</mat-expansion-panel>
<mat-expansion-panel (opened)="panelOpenState = true"
(closed)="panelOpenState = false">
<mat-expansion-panel-header>
<mat-panel-title>
  PAR Ménage  par décile de niveau de vie des ménages
</mat-panel-title>
<mat-panel-description>
DESCRIPTION
</mat-panel-description>
</mat-expansion-panel-header>
<div>
    
  <table>


    <thead>
      <tr>
        <th>&nbsp;</th>
        <th>D1</th>
        <th>D2</th>
        <th>D3</th>
        <th>D4</th>
        <th>D5</th>
        <th>D6</th>
        <th>D7</th>
        <th>D8</th>
        <th>D9</th>
        <th>D10</th>
        
      </tr>
    </thead>
    
    <tbody>
   
  
    
      <tr *ngFor="let item of dat.resultat.dcileUcp;index as i;" >
        <th scope="row" *ngIf="i <= 5">{{fre[i]}}</th>
        <td>{{ item.D1 }}</td>
        <td>{{ item.D2 }}</td>
        <td>{{ item.D3 }}</td>
        <td>{{ item.D4 }}</td>
        <td>{{ item.D5 }}</td>
        <td>{{ item.D6 }}</td>
        <td>{{ item.D7 }}</td>
        <td>{{ item.D8 }}</td>
        <td>{{ item.D9 }}</td>
        <td>{{ item.D10 }}</td>
        
        
      </tr>
    </tbody>
  </table>
</div>

</mat-expansion-panel>
    </mat-accordion>
    


</div> </mat-tab>
    <mat-tab label="Table"> <div>
    
        <table>
          <thead>
            <tr>
              <th>Menage</th>
              <th>Revenu</th>
              <th>Taille</th>
              <th>enfant</th>
              <th>U_car</th>
              <th>U_par</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let item of dat.resultat.resultat;index as i;" >
              <th>{{ i+1}}</th>
              <td>{{ item.revenu }}</td>
              <td>{{ item.tailleMenage }}</td>
              <td>{{ item.enfant }}</td>
              <td><span [class.color]='item.UcarT4> 0 ' >{{ item.UcarT4 }}</span></td>
              <td [class.color]='item.UparT4 > 0 '>{{ item.UparT4 }}</td> 
            </tr>
          </tbody>
        </table>
      </div> </mat-tab>
    
    
  </mat-tab-group>
  

